@import '../../index.scss';

.taskcard-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.taskcard {
	display: flex;
	width: 85%;
	border-radius: 15px;
	padding: 20px;
	margin-top: 15px;
	background-color: $contrast-color;
	color: white;
	transition: 0.2s;

	&:hover {
		transform: scale(1.01);
		background-color: lighten($contrast-color, 8%);
	}

	&-text {
		flex: 1;
		padding: 5px;
		border: none;
		font-size: 20px;
	}

	&-icon {
		margin-inline-end: 10px;
		font-size: 25px;
		cursor: pointer;
	}

	&-input {
		flex: 1;
		margin-right: 30px;
		border-radius: 15px;
		height: 40px;

		&:focus {
			outline: none;
		}
	}
}
