@import '../../index.scss';

.inputfield-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.task {
	display: flex;
	width: 90%;
	position: relative;
	align-items: center;

	&-input {
		width: 100%;
		border-radius: 50px;
		padding: 20px 30px;
		font-size: 25px;
		border: none;
		transition: 0.2s;
		box-shadow: 2px 3px 2px 1px $contrast-color;

		&:focus {
			box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
			outline: none;
		}
	}

	&-submit-btn {
		position: absolute;
		width: 50px;
		height: 50px;
		margin: 12px;
		border-radius: 50px;
		right: 0px;
		border: none;
		font-size: 15px;
		background-color: $primary-color;
		color: setTextColor($primary-color);
		transition: 0.2s all;
		// box-shadow: 4px 2px 4px 0px $shadow-color;
		&:hover {
			background-color: lighten($primary-color, 20%);
		}
	}
}

@media (max-width: 700px) {
	.task-input {
		width: 95%;
	}
}
